h1 "Classes" and Singletions in JavaScript
div.panel.panel-default
  div.panel-heading 2014-04-24 [JavaScript]
  div.panel-body
    section
      div In JS there are a lot of way to simulate classes. Here are examples:
      script(src="https://gist.github.com/michalkowol/4e7791c0fe7d8f981d7a.js")
      div In my option <code>MTVClass1.js</code> approach is the best one. <code>MTVClass1.js</code> has similar concept like <code>MTVObject.js</code>. In <code>MTVClass2.js</code> and <code>MTVClass3.js</code> you do not have access to class fields. <code>MTVClass1.js</code> has some small performance issue, but remeber:
        blockquote.small(cite="Donald Knuth") Premature optimization is the root of all evil.