include ../escape.jade

h1 Przeciążona metoda wywołana z konstruktora klasy bazowej
div.panel.panel-default
  div.panel-heading 2013-11-22 [Java]
  div.panel-body
    section
      div Przeanalizujmy poniższy kod:
      pre
        code.java
          +escape()
            include ClassAClassMain.java
      div Efektem stworzenia ClassA będzie NullPointerException. Dzieje się to dlatego, że przeciążamy showMeTheMain, które chce skorzystać ze zmiennej a.
      div Jak wykonuje się program:
      ol
        li Konstruktor ClassMain.
        li Metoda ClassA.showMeTheMain.
        li Konstruktor ClassA.
      div W tym przykładzie zmieniliśmy kwalifikator dostępu z protected na public. Zawsze można zwiększać, ale nie można zmniejszać (co jest logiczne).