h1 Java with Spring
div.panel.panel-default
  div.panel-heading 2013-12-05 [Java, Spring, Bean]
  div.panel-body
    section
      header
        h4 Simple example:
      section
        script(src="https://gist.github.com/michalkowol/360bab621fa243e67894.js")
        div MainAppSingleton execution result:
          pre true
        div MainAppPrototype execution result:
          pre false
    section
      header
        h4 Konstruktory i rozwiązywanie konfliktów
      section
        script(src="https://gist.github.com/michalkowol/dac25151507ca255a296.js")
        div With <code>bean1.xml</code>
          pre.
            Test.type = xhajs
            Test.password= md5
        div With <code>bean2.xml</code>
          pre.
            Test.type = md5
            Test.password= xhajs
    section
      header
        h4 Factories
      section
        script(src="https://gist.github.com/michalkowol/e45946dfe420ca729d1e.js")
    section
      header
        h4 Result:
      section
        div
          pre Eating a banana: omomom
        div Plum with name:
          script(src="https://gist.github.com/michalkowol/e98f76938ac98ccb0d26.js")
          pre Eating a plum sliwka: omomom
        div Plum by name using <code>createFruit</code> method:
          script(src="https://gist.github.com/michalkowol/4281a064f1daa72934b1.js")
          pre Eating a plum defaultName: omomom

