h1 "Closures" in JavaScript
div.panel.panel-default
  div.panel-heading 2014-07-22 [JavaScript]
  div.panel-body
    section
      div Closures in JS can simulate classes. Polymorphism, encapsulation and inheritance are avilable in this aproach.
      script(src="https://gist.github.com/michalkowol/190559f3f92f9a8e4111.js")
      div Example:
        pre.
          var classB = mtv.ClassB('Michal');
          classB.foo();       // ClassB.foo.start
                              // Michal Michal
                              // ClassA.foo.start
                              // Michal
                              // ClassA.foo.end
                              // ClassB.foo.end
           
          classB.bar();       // ClassA.bar.start
                              // ClassB.foo.start
                              // Michal Michal
                              // ClassA.foo.start
                              // Michal
                              // ClassA.foo.end
                              // ClassB.foo.end
                              // ClassA.privateInA.start
                              // Michal
                              // ClassA.privateInA.end
                              // ClassA.bar.end
           
          classB.changeA();   // ClassA.changeA.start
                              // ClassA.changeA.end
           
          classB.bar();       // ClassA.bar.start
                              // ClassB.foo.start
                              // Michal Michal Kowol
                              // ClassA.foo.start
                              // Michal Kowol
                              // ClassA.foo.end
                              // ClassB.foo.end
                              // ClassA.privateInA.start
                              // Michal Kowol
                              // ClassA.privateInA.end
                              // ClassA.bar.end