div.panel.panel-default
  div.panel-heading Traits like in JavaScript
  div.panel-body
    h2 Traits:
    script(src='https://gist.github.com/michalkowol/f6ca3c360f703c370754.js')
    h2 Traits example:
    script(src='https://gist.github.com/michalkowol/4191620b733f0cbeb3ba.js')
    div
      h2 Result:
      xmp.
        [start]: TraitA.functionA
        [start]: classWithTraitATraitB.getModel
        [end]: classWithTraitATraitB.getModel
        model
        [end]: TraitA.functionA
        [start]: classWithTraitATraitB.functionB
        [start]: TraitB.functionB
        [start]: classWithTraitATraitB.getModel
        [end]: classWithTraitATraitB.getModel
        model
        [end]: TraitB.functionB
        [start]: TraitA.functionA
        [start]: classWithTraitATraitB.getModel
        [end]: classWithTraitATraitB.getModel
        model
        [end]: TraitA.functionA
        [end]: classWithTraitATraitB.functionB
        [start]: TraitB.dummyModel
        [end]: TraitB.dummyModel