body {
  font-size: 15px;
}

pre {
  padding: 0;
}

pre code {
  font-size: 13px;
}

.hljs {
  background-color: transparent;
}

.sidebar-about h1 {
  font-size: 2.25rem;
}

.post-date {
  margin-bottom: 0;
}

.post-summary {
  margin-top: 1rem;
}

.post-category {
  margin: 0 0.1rem;
  padding: 0.2rem 0.5rem;
  color: #6f6f6f;
  background: #ddd;
  font-size: 0.6rem;
}