.hljs {
  background-color: transparent;
}

/*pre, code {
    white-space: pre;
    overflow-x: scroll;
    padding-bottom: 0;
}

.hljs {
    display: inline-block;
    overflow-x: scroll;
    -webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

.sidebar-about h1 {
  font-size: 2.25rem;
}

.post-date {
  margin-bottom: 0;
}

.post-summary {
  margin-top: 1rem;
}

.post-category {
  margin: 0 0.1rem;
  padding: 0.2rem 0.5rem;
  color: #fff;
  background: #ddd;
  font-size: 0.6rem;
}

.theme-base-0d a.post-category, .theme-base-0d a.post-category:hover {
  color: #fff;
}