doctype html
html(lang="pl")
head
  title Michał Kowol
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // build:css css/vendor.css
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
  // endbuild

body
  div.container.posts
    include ./posts/20141023.jade
  // build:js js/vendor.js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  // endbuild