doctype html
html(lang="pl")
head
  title Michał Kowol
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // build:css css/vendor.min.css
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
  // endbuild
  // build:css css/style.min.css
  link(rel='stylesheet' type='text/css' href='css/style.css')
  // endbuild
body
  div.container
    div.posts
      article
        include ./posts/20141201.jade
      article
        include ./posts/20141128.jade
      article
        include ./posts/20141023.jade
      article
        include ./posts/20140722.jade
      article
        include ./posts/20140424.jade
      article
        include ./posts/20131205.jade
      article
        include ./posts/20131122.jade
  // build:js js/app.min.js
  script(src='js/app.js')
  // endbuild